<div class="row events-list-container" infinite-scroll="vm.fetchData()"
     infinite-scroll-disabled='vm.dataIsLoading || vm.noMoreData'
     infinite-scroll-distance="1">
    <spinner ng-if="!vm.events.length && vm.dataIsLoading" type="big"></spinner>
    <event-tile event="event" ng-repeat="event in vm.events track by event.id">
    </event-tile>
    <spinner ng-if="vm.events.length && vm.dataIsLoading" type="small"></spinner>
</div>
