.event-detail-container {
  .description {
    h2 {
      font-size: 20px;
    }
    b {
      font-weight: normal;
    }
  }

  .angular-google-map-container {
    height: 400px;
    margin: 30px 0;
  }

  .back-to-list {
    text-decoration: none;
  }
}
