.events-list-container {
  .tile {
    position: relative;
    cursor: pointer;
    color: #222222;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0 5px;
    text-align: left;
    width: 100%;
    text-decoration: none !important;

    &:hover {
      color: #222222;
    }

    &:hover .tile__body {
      top: -37px;
    }

    &__content {
      box-shadow: rgb(228, 228, 228) 0 0 3px 1px;
      overflow: hidden;
      position: relative;
      text-align: left;
      width: 100%;
    }

    &__body {
      position: relative;
      background-color: #ffffff;
      top: 0;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
    }

    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;
      margin-top: 0;
    }

    &__link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__read_more {
      display: block;
      text-align: left;
      padding: 10px 15px;
      width: 100%;
      vertical-align: middle;
      z-index: 200;
      -webkit-transition: all .15s ease;
      transition: all .15s ease;
      color: #ffffff;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 14px;
      font-weight: bold;
      background-color: #e1192c;
      position: absolute;
      top: calc(100% - 3px);

      &:hover {
        background-color: #000;
      }

      .glyphicon {
        font-size: 12px;
      }
    }

    &__text {
      padding: 15px;
      position: relative;
    }
  }

  .image_wrapper {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
    &:after {
      content: '';
      display: block;
      padding-top: 56%;
    }
  }
}
