body {
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: "Open Sans", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
