<div class="row event-detail-container">
    <div class="col-xs-12">
        <div class="alert alert-danger" ng-if="vm.hasError">
            <strong>UH-OH</strong> Something went wrong. <a href="#!/events">Redirect me back to event list</a>
        </div>
        <spinner ng-if="vm.dataIsLoading" type="big"></spinner>
        <div ng-if="!vm.dataIsLoading && !vm.hasError">
            <a ng-href="#!" class="back-to-list">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span> back to list</span>
            </a>
            <h2>General info</h2>
            <div ng-bind-html="vm.description" class="description">
            </div>
            <div ng-if="vm.accessibility">
                <h2>Accessibility</h2>
                <div ng-bind-html="vm.accessibility">
                </div>
            </div>
            <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
                <ui-gmap-marker idKey='1' coords='vm.map.markerLocation'>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
