<div class="col-md-4 col-sm-6 col-xs-12">
    <a class="tile" ng-href="#!/events/{{vm.event.targetPOI}}">
        <div class="tile__content">
            <div class="image_wrapper">
                <img ng-src="{{vm.event.image}}"
                     title=""
                     alt="">
            </div>
            <div class="tile__body">
                <div class="tile__text">
                    <h3 class="tile__title">
                        {{vm.event.summary}}
                    </h3>
                    {{vm.event.dateStart | date:"MM/dd/yyyy 'at' h:mma"}}
                </div>
                <div class="tile__read_more">
                    Read more <span class="glyphicon glyphicon-arrow-right"></span>
                </div>
            </div>
        </div>
    </a>
</div>
