<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Webpack Example</title>
    <script src="{%= o.htmlWebpackPlugin.files.js %}"></script>
</head>
<body>
<div ng-app="app">
    <app>
        Loading...
    </app>
</div>

</body>
</html>
